
<ul class="menu">
  <li>
    {{#link-to 'landing.currently'}}
      <span>Implementation</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'example-single-page'}}
      <span>"Single" type /page</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'example-repeatable-page'}}
      <span>"Repeatable" type /post</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'other-api'}}
      <span>Another JSON API example</span>
    {{/link-to}}
  </li>
</ul>

