
<p>Should list 100 posts and their users below...</p>

<h2>includes files: </h2>

<ul>
  <li>models for 'post' and 'user'</li>
  <li>routes: /other-api
    <ul>
      <li>/post-list</li>
      <li>/post</li>
    </ul>
  </li>
  <li>adapters for:
    <ul>
      <li>typicode - general end-point</li>
      <li>post</li>
      <li>and user (extend the typicode)</li>
    </ul>
  </li>
  <li>
    serializers: for post and user
  </li>
</ul>

{{log model}}

<h2>Post list</h2>

<ul class='post-list'>

  {{#each model as |post|}}
    <li class='post'>
      {{#link-to 'other-api.post' post}}
        <h3 class='title'>{{post.title}}</h3>
      {{/link-to}}
      <h4 class='author'>By: {{post.userId.name}}</h4>
    </li>
  {{/each}}

</ul>
