
<h1>ember-data + prismic.io tests</h1>

<nav class="main-menu">
  <ul class="menu">
    <li>
      {{#link-to 'landing.currently'}}
        <span>Implementation</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'example-single-page'}}
        <span>"Single" page</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'example-repeatable-page'}}
        <span>"Repeatable page</span>
      {{/link-to}}
    </li>
  </ul>
</nav>

{{outlet}}
